body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}


.parent{
    background-color: darkcyan;
    width: 100%;
    height: 300px;
    perspective: 100px;
    transition: all 2s ease-in-out 1s;
}

.parent:hover{
    background-color: red;
    transform: rotatey(180deg);
    transform-style: preserve-3d;
}